body {
    background-color: rgb(218, 180, 124);
    text-align: center;
}
#ham {
    width: 600px;
}
h1 {
    text-decoration: rgb(119, 82, 33);
}
h2 {
    text-decoration: rgb(119, 82, 33);
}